option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: finance_blogapp.wsgi:application

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/: static/

  aws:autoscaling:launchtemplate:
    InstanceType: t2.micro  # Free Tier eligible instance
    DisableIMDSv1: true  # Re-added to enhance instance metadata security
    BlockDeviceMappings:
      - DeviceName: /dev/xvda
        Ebs:
          VolumeType: gp3  # Setting the root volume type to gp3 for better performance

  aws:ec2:vpc:
    SecurityGroups: sg-0a4a913cca9ed64ec
