
{% load widget_tweaks %}

{% csrf_token %}
<div class="flex justify-center">
    
    <form hx-post="{% url 'create-transaction' %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
        class="bg-white shadow-lg p-8 rounded-lg w-4/6">

        <h2 class="mt-4 mb-4 prose prose-2xl text-3xl text-black font-bold text-center mb-8">Add new transaction</h2>
        <!-- Type Field -->
        <div class="mb-4 form-control text-black">
            {{ form.type|add_label_class:"label text-black block mb-1 text-lg font-bold" }}
            {% render_field form.type class="input w-full bg-gray-100 border-black text-black p-3 rounded" %}
        </div>

        <!-- Amount Field -->
        <div class="mb-4 form-control">
            {{ form.amount|add_label_class:"label text-black block mb-1 text-lg font-bold" }}
            {% render_field form.amount class="input w-full bg-gray-100 border-black text-black p-3 rounded" %}
            
            <!-- Display errors for the amount field -->
            {% for error in  form.amount.errors%}
            <p class="text-red-500 text-xs italic">{{ error }}</p>
            {% endfor %}
        </div>

        <!-- Currency Field -->
        <div class="mb-4 form-control">
            {{ form.currency|add_label_class:"label text-black block mb-1 text-lg font-bold" }}
            {% render_field form.currency class="input w-full bg-gray-100 border-black text-black p-3 rounded" %}
        </div>

        <!-- Date Field -->
        <div class="mb-4 form-control">
            {{ form.date|add_label_class:"label text-black block mb-1 text-lg font-bold" }}
            {% render_field form.date class="input w-full bg-gray-100 border-black text-black p-3 rounded" %}
        </div>

        <!-- Category Field -->
        <div class="mb-4 form-control">
            {{ form.category|add_label_class:"label text-black block mb-1 text-lg font-bold" }}
            {% render_field form.category class="text-green-500 border-gray-300 rounded focus:ring-green-500" %}
        </div>

        <!-- Submit Button -->
        <div class="flex justify-center">
            <button class="bg-green-500 text-white font-bold py-3 px-8 rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300">
                Add
            </button>
            <button 
                hx-get="{% url 'expense_tracker' %}" 
                hx-target="#transaction-block"
                hx-push-url='/expense_tracker'
                class="bg-yellow-500 text-white font-bold py-3 px-8 rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-green-300"
            >
                Cancel
            </button>
        </div>
    </form>
</div>


