{% extends 'base.html' %}
{% block title %}Finance Blog | Transactions list{% endblock title %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block content %}

<link rel="stylesheet" href="{% static 'app/output.css' %}">
<link rel="stylesheet" href="{% static 'app/test.css' %}">
    <!-- HTMX -->
<script src="{% static 'app/js/htmx.min.js' %}"></script>


    <div class="relative overflow-x-auto text-black">

        <!-- Outer container div for both table and filter form -->
        <div class="bg-white p-12 rounded-lg shadow-lg w-4/6 mt-12 mx-auto"
        id="transaction-block">
    
            {% include 'app/partials/expense_tracker_container.html' %}
        </div>
    
    </div>

    
    
    
    



{% endblock content %}


